
__pycache__/
*.py[cod]
*.egg-info/
db.sqlite3
local_settings.py
*.sqlite3

env/
venv/
.venv/
ENV/

media/
staticfiles/

static/css/src/output.css


.env
.env.*


.vscode/
.idea/
.DS_Store
Thumbs.db


node_modules/
package-lock.json
master/static/css/src/output.css
master/static/css/src/output.css
