{% extends 'base.html' %}

{% block title %}
  Categorías
{% endblock %}

{% block sectionTitle %}
  Nueva categoría
{% endblock %}

{% block content %}
  <div class="px-4 md:px-20 lg:px-40 flex flex-1 justify-center py-5">

    <div class="layout-content-container flex flex-col flex-1">

      <form method="post">
        {% csrf_token %}

        <div class="flex flex-wrap justify-between gap-3 p-4">
          <div class="flex min-w-72 flex-col gap-3">
            <p class="text-zinc-400 text-base font-normal leading-normal">
              Personaliza tus categorías para un mejor seguimiento de los gastos.
            </p>
          </div>
        </div>

        <div class="p-4">
          <div class="flex flex-col gap-8 bg-white p-6 rounded-xl">

            <!-- Nombre -->
            <div>
              <label class="flex flex-col flex-1">
                <p class="text-[#0e171b] text-base font-medium leading-normal pb-2">
                  Nombre de la categoría
                </p>
                <input
                  name="nombre"
                  class="form-input flex w-full min-w-0 flex-1 rounded-xl text-[#0e171b] bg-background-light dark:bg-background-dark focus:border-primary h-14 placeholder:text-[#4e7f97] dark:placeholder-zinc-500 p-[15px]"
                  placeholder="Ej: Comida, Transporte"
                  value="{{ form.nombre.value|default:'' }}"
                />
                {{ form.nombre.errors }}
              </label>
            </div>

            <!-- Iconos -->
            <div>
              <h3 class="text-[#0e171b] text-base font-medium leading-normal pb-2">Elige un ícono</h3>
              <div class="grid grid-cols-[repeat(auto-fill,minmax(64px,1fr))] gap-5">

                {% for icon in iconos %}
                  <label class="flex flex-col gap-3 items-center justify-center cursor-pointer p-2 rounded-lg hover:bg-zinc-200 dark:hover:bg-sky-200 border border-sky-200">
                    <input type="radio" name="icono" value="{{ icon }}" class="hidden"
                      {% if form.icono.value == icon %}checked{% endif %}
                    />
              
                    <i class="{{ icon.icono }} text-3xl text-zinc-500"></i>
                  </label>
                {% endfor %}

                {{ form.icono.errors }}
              </div>
            </div>

            <!-- Colores -->
            <div>
              <h3 class="text-[#0e171b] text-base font-medium leading-normal pb-2">Selecciona un color</h3>
              <div class="flex flex-wrap gap-3">
                {% for color in colores %}
                  <label>
                    <input type="radio" name="color" value="{{ color.color }}" class="hidden"
                      {% if form.color.value == color.color %}checked{% endif %}
                    />
                    <div class="w-10 h-10 rounded-full cursor-pointer" style="background-color: #{{ color.codigo_hex }}; border-color: #{{ color.codigo_hex }};">
                    </div>
                  </label>
                {% endfor %}
                {{ form.color.errors }}
              </div>
            </div>

            <!-- Vista previa -->
            <div>
              <h3 class="text-[#0e171b] text-base font-medium leading-normal pb-2">Vista Previa</h3>
              <div class="flex items-center gap-4 w-full p-4 rounded-xl bg-zinc-100">
                <div class="flex items-center justify-center w-16 h-16 rounded-full shrink-0"
                  style="background-color: {{ form.color.value|default:'#f87171' }};">
                  <span class="material-symbols-outlined text-4xl text-white">
                    {{ form.icono.value|default:'shopping_cart' }}
                  </span>
                </div>
                <p class="text-[#0e171b] text-xl font-bold truncate">
                  {{ form.nombre.value|default:'Nombre' }}
                </p>
              </div>
            </div>

          </div>
        </div>

        <div class="flex justify-center gap-4 p-4">
          <a href="{% url 'categoria' %}" class="flex items-center justify-center min-w-32 h-12 px-6 rounded-lg text-base font-bold text-white bg-zinc-500 hover:bg-zinc-600">Cancelar</a>

          <button class="flex items-center justify-center min-w-32 h-12 px-6 rounded-lg text-base font-bold text-white bg-sky-400 hover:bg-sky-600">
            Guardar Categoría
          </button>
        </div>

      </form>

    </div>
  </div>
{% endblock %}
