{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block sectionTitle %}{% endblock %}

{% block content %}
  <div class="w-full p-4 space-y-4 relative">

    <div class="flex justify-end items-center gap-2">
      <form class="flex gap-2 justify-end w-1/2"
        hx-get="{% block busqueda_url %}{% endblock %}"
        hx-target="{% block busqueda_target %}{% endblock %}">
        <input
          type="text"
          name="q"
          placeholder="{% block placeholder_buscador %}{% endblock %}"
          class="input input-bordered w-full max-w-md"
        />
        <button class="btn bg-blue-500 rounded-2xl text-white" type="submit">
          Buscar
        </button>
        <button
          type="button"
          class="btn bg-gray-100 rounded-2xl text-blue-500"
          onclick="clearSearch(this)">
          Limpiar filtros
        </button>
      </form>
    </div>

    <div class="flex w-full gap-4">
      {% block contenido_tabla %}
        <p class="text-gray-400">Cargando contenido...</p>
      {% endblock %}
    </div>

    <!-- Botón flotante -->
    <button
      class="fixed bottom-6 right-6 bg-blue-500 hover:bg-blue-600 text-white rounded-full w-14 h-14 flex items-center justify-center shadow-lg transition-transform hover:scale-110"
      hx-get="{% block nuevo_modal_url %}{% endblock %}"
      hx-target="#modal-content"
      hx-trigger="click"
      title="Nuevo"
    >
      <!-- Ícono "+" -->
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 4v16m8-8H4" />
      </svg>
    </button>

  </div>
{% endblock %}
